build
.vagrant
.idea
.history
# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform/

# File backups
*~

# Git SSH keys for gocd
infrastructure-modules/global-admiral/instance-pool/data/gocd/git-ssh-key/*
!infrastructure-modules/global-admiral/instance-pool/data/gocd/git-ssh-key/README.md
*.pub